<!--<app-register></app-register>-->
<!--<app-login></app-login>-->

<div class="mynav" data-bs-theme="dark">

  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
<!--      <a class="navbar-brand" routerLink="secrets">Secret.io</a>-->
      <a class="navbar-brand" (click)="secretValication()">Secret.io</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/secrets">Secrets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="nav-item mt-3">
            <button  class="btn btn-dark border border-light" (click)="logOut()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="my-5 container">
  <router-outlet></router-outlet>
</div>

