<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <h2>Add a secret</h2>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form"  [formGroup]="secretForm" (ngSubmit)="addSecret()">
            <mat-form-field class="example-full-width">
              <mat-label>Secret</mat-label>
              <input matInput formControlName="secret" >
            </mat-form-field>
            <div>
              <button class="btn btn-dark" mat-raised-button color="primary">Add a secret</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
    <h1>My secrets</h1>
    <ul *ngFor="let data of secrets">
      <li>{{data}}</li>
    </ul>

    </div>
  </div>
</div>
